/* Form Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Merriweather:wght@400;700;900&family=Work+Sans:wght@400;600;700&display=swap');

/* Shared Style  */
* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    font-size: 1.25rem;
    color: #fff;
    font-weight: 600;
    border: 0;
}

/* Shared Style  */

/* Start Header Style  */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #424242;
}

/* End header section  */
/* Start Bannar Section  */

.bannar-content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.bannar-title {
    font-size: 4rem;
    color: #131313;
    font-weight: 700;
}

.bannar-description {
    color: #727272;

}

.bannar img {
    margin-top: 50px;
    width: 100%;
}

/* End bannar Section  */

/* END Header Style  */

/* Main Section  */

main {
    max-width: 1140px;
    margin: 70px auto;
}

/* Main Section  */

/* Start Team Section  */

.teams-container {
    display: flex;
    align-items: center;
}


.teams-img-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-text-content {
    padding: 0 70px;
}

.quick-list {
    font-size: 3rem;
    color: #727272;
    font-size: 600;
}

.of-our {
    color: #131313;
    font-weight: 700;
    font-size: 3rem;
}

.text-features {
    color: #FF900E;
    font-weight: 700;
    font-size: 3rem;
}

.teams-description {
    line-height: 26px;
    color:
        #727272;
}

/* End Team Section  */

/* Start Features Section  */

.features-container {
    display: flex;
    /* gap: 146px; */
    margin-top: 100px;
}

.features-title {
    font-size: 3rem;
    color: #131313;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features-description {
    line-height: 26px;
    color: #727272;
}

.features-img-container {
    margin-left: 100px;
    width: 80%;
}

.features-img-container img {
    margin-top: 50px;
}


.f-card {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.ten-years-badge {
    width: 300px;
    border-radius: 8px;
    background: #FF900E;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 80px;
    right: 90px;
}
.ten-years-badge h2{
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}
.ten-years-badge p{
    color: #fff;
    font-size: 1.50rem;
    font-weight: 600;
    margin: 0 0;
}

/* End Features Section  */

/* Start Facts section  */

.facts-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

.facts-description {
    color: #727272;
    line-height: 26px;
    width: 542px;
}


.fact-card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.fact-card-container .card {
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 20px;
}

.card-heading {
    font-weight: 600;
    font-size: 3rem;
    color: #424242;
    margin: 0 0;
}

.card-text {
    color: #424242;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 10px 0;
}

/* End Team Section  */
/* Start Sponspors Section  */

.sponspors {
    margin-top: 100px;
    text-align: center;
}

.sponspors-title {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}

.sponspors-description {
    line-height: 26px;
}

.sponspors-img-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 30px;
}

.sponspors-img-container img {
    width: 166px;
}


/* End Sponspors Section  */
/* Star Footer Section  */

.footer {
    max-width: 1140px;
    height: 100px;
    margin: 70px auto;
    text-align: center;
    border-radius: 8px;
    background: #FFF4E7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-description {
    color: #424242;
    font-size: 1.25rem;
}

/* End Footer Section  */



/* Responsive Styles  */

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    .bannar-title {
        font-size: 3.5rem;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }

    .teams-img-content {
        grid-template-columns: 1fr;
    }

    .teams-text-content {
        padding: 25px;
    }

    .facts-title {
        width: 90%;
        margin: 0 auto;
    }

    .facts-description {
        width: 90%;
        margin: 0 auto;
    }

    .fact-card-container {
        flex-direction: column;
    }

    .card {
        margin-bottom: 10px;
    }

    .sponspors-img-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-description {
        padding: 15px;
    }
    .features-container{
        flex-direction: column;
    }
    .features-img-container{
        width: 90%;
        margin: 0 auto;
    }
    .features-img-container img{
        max-width: 100%;
    }
    .ten-years-badge{
        width: 80%;
        margin: 0 auto;
        position: static;
        margin-bottom: 20px;
    }
    .features-title{
        width: 80%;
        margin: 0 auto;
    }
    .features-description{
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
    }

}

@media screen and (min-width: 576px) and (max-width: 992px) {
    header {
        padding: 50px;
    }

    .teams-container {
        flex-direction: column;
    }

    .facts-title {
        width: 84%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .facts-description {
        width: 84%;
        margin: 0 auto;
    }

    .fact-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .sponspors-img-container {
        display: grid;
        grid-template-columns: repeat(1);
    }
    .features-container{
        flex-direction: column;
    }
    .features-title{
        width: 90%;
        margin: 0 auto;
    }
    .features-description{
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .features-img-container{
        width: 90%;
        margin: 0 auto;
    }
    .features-img-container img{
        max-width: 100%;
    }
    .ten-years-badge{
        position: static;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .nav-title{
        font-size: 2rem;
    }
}


/* Responsive Styles  */